        header {
            text-align: center;
            margin-bottom: 20px;
            padding: 20px;
            background-image: linear-gradient(#77777794), url(fotos/oficinaback.jpg);
            border-radius: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 255, 0.3);
        }

        .logo {
            width: 350px;
            height: auto;
            margin-bottom: 20px;
            border-radius: 15px;

        }

        h1 {
            color: #fff;
            margin: 0;
            font-size: 3em;
            text-shadow: 2px 2px 4px #000;
        }

        h2 {
            color: #fff;
            margin: 10px 0 0 0;
            font-size: 1.5em;
            background-color: #6bc7fc;
            padding: 8px;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 255, 0.3);
        }
        .page {
            background-image: url(fotos/oficinaback.jpg);
            background-size: cover;
            background-position: center;
        }

        .link-button {
            display: block;
            padding: 15px;
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 10px;
            color: #333;
            text-decoration: none;
            font-size: 1.1em;
            transition: 0.3s;
        }

        .link-button:hover {
            background: #6bc7fc;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        }

        .intro {
            text-align: center;
            margin-bottom: 30px;
            font-size: 1.2em;
            color: #333;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #ffffff60;
        }

        .text {
            text-align: center;
            font-weight: bolder;
            font-style: oblique;
            color: #333;
            margin-bottom: 20px;
            padding: 40px 20px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0 2px 6px rgba(0, 0, 255, 0.3);
        }

        ul li {
            list-style: none;
            margin-bottom: 12px;
        }

        ul a {
            display: block;
            padding: 15px;
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 10px;
            color: #333;
            text-decoration: none;
            font-size: 1.1em;
            transition: 0.3s;
        }

        ul a:hover {
            background: #6bc7fc;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        }

        .icon {
            width: 30px;
            height: auto;
            vertical-align: middle;
            margin-right: 10px;
        }

        .serv {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            background-position: center;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 2px 6px rgba(0, 0, 255, 0.3);

        }

        .button a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            background-color: #6bc7fc;
            padding: 10px 15px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 2px 6px rgba(0, 0, 255, 0.3)
        }

        .button a:hover {
            background-color: #ffffff;
            color: #6bc7fc;
            border: 2px solid #6bc7fc;
        }

        .itl {
            font-style: italic;
            color: #333;
        }

        footer {
            text-align: center;
            margin-top: 30px;
            padding: 15px;
            background-color: #44444488;
            color: #fff;
            border-radius: 10px;

        }


